//main: globals.less

.second_title {
    font-size:                  76px;
    line-height:                80px;
}
.text-regular {
    font-size:                  21px;
    line-height:                29px;
}
.title-work {
    font-size:                  42px;
}
.text-container-work {
    padding:                    30px 20px;
}
.cta-microsites {
    top:                        34px;
    bottom:                     unset;
}
.big_mail {
    font-size:                  32px;
}