//main: globals.less

body {
  color: @color3;
}
p {
    font-weight: 300;
}
b, strong {
    font-weight: 300;
}
/////animations------------------------------------------------------------
    
.animationFade {
    opacity: 0.1;
    transition: opacity 0.5s 0.1s;
}
.animationFade.animated{
    opacity: 1;
}

//start animationBottomToTop -----------
@topStart:			    -100px;
@topEnd:			    120px;
@topEndPlus:			@topEnd  + 10px;

.animatedTopBottomBounce {
    0% { top:		    @topStart; }
    80% { top:          @topEndPlus; }
    100% { top: 	    @topEnd; }
}
@keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}
@-webkit-keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}
@-ms-keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}
@-moz-keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}

//start animationSepia -----------
@filterStart:			sepia(0.2);
@filterPlus:            sepia(1);
@filterEnd:			    sepia(0);

.animatedSepia {
    0% { filter:		@filterStart; }
    40% { filter:       @filterPlus; }
    100% { filter: 	    @filterEnd; }
}
@keyframes animationSepia {
    .animatedSepia;
}
@-webkit-keyframes animationSepia {
    .animatedSepia;
}
@-ms-keyframes animationSepia {
    .animatedSepia;
}
@-moz-keyframes animationSepia {
    .animatedSepia;
}

// animations Time Line ----

@timeAnimation_1:           0.6s;
@delayAnimation_1:          0s;
@timeAnimation_sepia:       2.2s;
@delayAnimation_sepia:       .8s;



// animations Time Line ----
/* ==========================================================================
User Styles
========================================================================== */

#total-wrapper {
    background-color:   @colorBgOut;
    font-family:        'Montserrat', sans-serif;
}
.site-wrapper {
    margin:             0 auto;
    max-width:          (@max-width-site - (@padding-container * 2));
}
.site-wrapper-inner {
    color:              @color3;
}
.container-section {
    padding-bottom:     @padding-container;
    position:           relative;
}

.bg-color-2 {
    background-color:   @color2;
}

.cover {
    padding: 0;
}
.cover-heading {
    margin: 0;
}
.title-general{
    font-family:            'Bebas Neue', sans-serif;
}
.key-word {
    padding:                0px 5px;
    display:                inline-flex; //to avoid missalingment with the rest of the text
    position:               relative;
    overflow:               hidden;
    z-index:                1;
    transition:             all .3s ease .1s; //i change this with JS to give a cascade effect
    &::before {
        .absoluteTopLeft(0, -110%);
        .size(105%, 100%);
        content:            '';
        //background-color:   @color3;
        //transition: left .4s ease;
        transition:         inherit; //how is not in DOM I manage this way to address it
        z-index:            -1;
    }
    &.animated {
        //color:          @color2;
        &::before {
            left:           0;
        }
    }//animated
}//key-word

.key-word-color1 {
    &::before {
        background-color:   @color3;
    }
    &.animated {
        color:              @color2;
    }
}//key-word-color

.key-word-color2 {
    &::before {
        background-color:   @color2;
    }
    color:                  @color3;
}//key-word-color2

.second_title { 
    font-size:              90px;
    line-height:            90px;
    padding-bottom:         (@padding-container/2);
}

.text-regular {
    font-size:              25px;
    line-height:            32px;
    margin-bottom:          (@padding-container/2);
    &:last-child {
        margin-bottom:       0;
      }
      
}

.cta-general {
    text-decoration:                none;
    font-weight:                    500;
    transition:                     color .4s ease;
    .border-radius (@cta-border-radious);
    //.size(145px, auto);
    height: auto;
    padding:                        10px;
    &::after{
        content:                ' ';
        .border-radiuses (@cta-border-radious, @cta-border-radious, 0, 0);
        .absoluteBottomRight(0,0);
        .size(20%,100%);
        background-image:           url('../img/arrow-right.svg');
        background-position:        center;
        background-repeat:          no-repeat;
        transition: width           .3s ease;
    }//after
    
} //cta-general

.welcome-section {
    height:                 80vh;
    max-height:             592px;
    padding:                0 @padding-container;
    background:             url('../img/lache_victoria.png') no-repeat @colorBgImgWelcome center top;
    background-size:        cover;
    filter:		            @filterStart;
    .animationSimple(animationSepia forwards 1 @timeAnimation_sepia ease-in-out @delayAnimation_sepia);
    .title {
        font-size:          125px;
        line-height:        93px;
        color:              @colorBgImgWelcome;
        transform:          scale(1, 1.6);
        width:              60%;
        position:           absolute;
        top:                @topStart;
        opacity:            0;
        transition:         opacity .5s ease .2s, color .8s ease .8s;
       
    } //title
    &.animated {
        .cta-resume {
            transform: scale(1);
            &:hover {
                color:                      @colorBgImgWelcome;
                transform:                  scale(1.1);
                // &::after {
                //     background-position: center 7px;
                // }
            }
        }//cta-resume
        .title{
            opacity:                .7;
            color:                  @color2;
            .animationSimple(animationTopBottomBounce forwards 1 @timeAnimation_1 ease-in-out @delayAnimation_1);
        }//animated welcome
    } //animated
}//welcome-section

.cta-resume {
    .absoluteBottomRight(@padding-container, @padding-container);
    background-color:               @color2;
    padding-right:                  42px;
    color:                          @colorBgImgWelcome;
    transform:                      scale(0);
    transition:                     transform .3s ease .1s;
    &::after{
        background-image:           url('../img/arrow-down.svg');
        width:                      25%;
        background-position-x:      -2px;
        //transition:                 background-position .3s ease .2s;
    }//after
} //cta-resume

.inner_welcome {
    .size();
    position:                       relative;
}

.section_introduction {
    padding:                        @padding-container @padding-container 0 @padding-container;
}

#microsites {
    position:                       relative;
    overflow:                       hidden;
    background-color:               @color4;
}

.title-works-container {
    display:                        inline-block;
    position:                       relative;
}

.title-works {
    .absoluteTopLeft();
    bottom:                         0;
    width:                          100%; /* line-height of .wrapper div:first-child span */
    overflow:                       hidden;
    white-space:                    nowrap;
    h2 {
        transform:rotate(-90deg) translate(-50%, 50%);
        .absoluteBottomLeft(-260px, -18px);
        .size();
        font-size:                  84px;
        text-align:                 center;
        line-height:                52%;
        color:                      white;
    }
} //title-works
.microsite-list-element {
    position:                       relative;
        &:not(:last-child) { 
            border-bottom:          2px solid @color2;
        }
}
.text-container-work {
    padding:                        10px 30px 0 20px;
    position:                       relative;

}
.description-work {
    //line-height:                    124%;
    margin-bottom:                  15px;
    line-height:                    140%;
    font-size:                      15px;
}

.title-work {
    //font-size:                      30px;
    font-size:                      44px;
    margin-bottom:                  3px;
    //transition:                     font-size .4s ease, line-height .3s ease;
}

.cta-microsites {
    width:                          145px;
    //@variable-color:                @color4;
    color:                          @color4;
    //color:                          @variable-color;
    .absoluteBottomRight(17px, 60px);
    //background-color:               spin(@variable-color, 180);
    background-color:               @color4Button;
    &::after{
        background-color:           lighten(spin(@color4Button, 0), 10%);
    }//after
    &:hover  {
        color:                      @color2;
        &::after{
            width:                  18%;
        }
    }//hover
} //cta-microsites


.img-work-container{
    position:                       relative;
    display:                        block;
    cursor:                         pointer;
    background-position:            center;
    background-repeat:              no-repeat;
    background-size:                contain;
    background-color:               transparent;
}

.img-work {
    display:                        block;
    width:                          100%;
}
.list-key-word {
    .key-word {
        padding-top:                3px;
        padding-bottom:             3px;
        margin-bottom:              3px;
    }
} //list-key-word

.list-key-word-awards {
    margin-top:                     6px;
    height: auto;
}
.microsites {
    .title-works {
        h2 {
            letter-spacing:         85px;
            bottom:                 -438px;
        } //h2
    }//title-works
    .list-key-word-element {
        position:                   relative;
        display:                    inline-block;
    }//list-keyword-element
}//microsites

#banners {
    //@variable-color:                @color4;
    @variable-color:                @color5;
    
    position:                       relative;
    overflow:                       hidden;
    background-color:               @variable-color;
    //background-color:               spin(@variable-color, -30);
}//#Banners

@paddingBanners:                    (@padding-container/4);
.banners {

    .img-work-container {
        .size(320px,480px);
        &.big-banner {
            .size(970px, 250px);
        }
    }
    .text-container-work {
        padding-left:               0;
    }

    .title-works h2 {
        bottom:                     -450px;
        letter-spacing:             143px;
    }
    .list-key-word-technology {
        .absoluteTopRight(@paddingBanners,0);
        .size(200px, 50%);
    } //list-key-word-technology
    .list-key-word-element {
        margin-bottom:              3px;

    }
} //banners
.banners-list-container {
    position:                       relative;
    overflow:                       hidden;
}
.big-banner-text-container {
    position:                       relative;
}
.size-warning {
    font-size:                      19px;
    display:                        none;
}
.banner-1 {
    background-image:               url('../img/banner_1.png');
}
.banner-2 {
    background-image:               url('../img/banner_2.png');
}
.banner-3 {
    background-image:               url('../img/banner_3.png');
}

.big-banner-container {
    .big-banner {
        .size(970px,250px);
    }
    .list-key-word-technology{
        width:                      auto;
        text-align:                 left;
        // top: 280px;
        position:                   relative;
        top:                        0;
        right:                      0;
        
        .list-key-word-element {
            display:                inline-block;
        }
    }
}//big-banner-container



.banners-list-element {
    position:                       relative;
    overflow:                       hidden;
    padding:                        @paddingBanners 0;
}

.playButton {
    .size(100%,100%);
    .absoluteTopLeft(0,0);
    background-position:                center center;
    background-repeat:                  no-repeat;
    background-size:                    100px 100px;
    background-image:                   url('../img/play-button.svg');
    background-color:                   transparent;
    transition:                         transform .3s ease .1s;
    transform:                          scale(0);
    z-index:                            40;
}
.animated {
    .playButton {
        transform:                      scale(1);
        &:hover {
            transform:                  scale(1.2);
        }
    }
}//animated

.cta-banner {
    display:                            none;
} //cta-microsites

.overlay {
    .size(100%,100%);
    .absoluteTopLeft(0,0);
    display:                            none;
    opacity:                            0;
    transition:                         opacity .3s ease;
    z-index:                            50;
    &.visible{
        display:                        block;
        opacity:                        1;
        position: fixed; 
        overflow-y:scroll;
    }
}//overlay

.backGround {
    .size(100%,100%);
    .absoluteTopLeft(0,0);
    background-color:                   @colorBgOut;
    background-position:                60px 60px;
    background-repeat:                  no-repeat;
    background-size:                    50px 50px;
    background-image:                   url('../img/cross-close.svg');
    opacity:                            .9;
    z-index:                            60;
    cursor:                             pointer;
}
.htmlContainer {
    .absoluteTopLeft(50%,50%);
    transform: translate(-50%, -50%);
    z-index:                            80;
}
.newsletters {
    @variable-color:                @color6;
    position:                       relative;
    overflow:                       hidden;
    //background-color:               @color5;
    //background-color:               spin(@variable-color, 240);
    background-color:               @variable-color;
    padding-right:                  @padding-container;
    .title-works h2 {
        bottom:                     -235px;
        letter-spacing:             29px;
    }
}//#newsletters

.newsletters-list-container {
    padding-top:                    @padding-container;
    padding-bottom:                 @padding-container;
}

.newsletters-list {
    display:                        flex;
    justify-content:                space-between;
    align-items:                    center;
}

.newsletters-list-element {
    .size(30%, 400px);
    position:                       relative;
}

.img-newsletter-container {
    .size();
    .absoluteTopLeft();
    background-position:            center 0%;
    background-size:                100% auto;
    background-repeat:              no-repeat;
    background-color:               transparent;
    transition:                     background-position .5s ease .2s;
    cursor:                         pointer;
    &:hover {
        background-position:        center 100%;
    }
} //img-newsletter-container

.newsletters-list-element-1 {
    .img-newsletter-container {
        background-image:           url('../img/newsletter-desigual.jpg');
    }
}
.newsletters-list-element-2 {
    .img-newsletter-container {
        background-image:           url('../img/newsletter-cupra.jpg');
    }
}
.newsletters-list-element-3 {
    .img-newsletter-container {
        background-image:           url('../img/newsletter-mc.jpg');
    }
}

.talk-container {
    padding-bottom:                 @padding-container;
}
.big_mail{
    display:                        block;
    font-size:                      63px;
    line-height:                    80px;
    transform:                      scale(1, 1.6);
    position:                       relative;
    width:                          100%;
    text-align:                     center;
    cursor:                         pointer;
    &::before {
        .absoluteTopLeft();
        .size(100%,0);
        content:                    "copied! see you soon ;D";
        overflow:                   hidden;
        font-size:                  30px;
        line-height:                80px;
        text-align:                 center;
        z-index:                    0;
        opacity:                    0;
        transition:                 opacity .4s, height .4s;
    }
    &.copied{
        &::before {
           height:                  100%;
           opacity:                 0.97;
           z-index:                 20;
           background-color:        @color4;
        }
    }
    &::after {
        .absoluteBottomLeft(20px,0);
        .size(100%,16px);
        content:                    "tap to copy";
        font-size:                   12px;
        opacity:                     0.5;
   }
}//big_mail
