//main: globals.less

body {
  color: @color1;
}
p {
    font-weight: 300;
}
b, strong {
    font-weight: 300;
}
/////animations------------------------------------------------------------
    
.animationFade {
    opacity: 0.1;
    transition: opacity 0.5s 0.1s;
}
.animationFade.animated{
    opacity: 1;
}

//start animationBottomToTop -----------
@topStart:			    -100px;
@topEnd:			    120px;
@topEndPlus:			@topEnd  + 10px;

.animatedTopBottomBounce {
    0% { top:		    @topStart; }
    80% { top:          @topEndPlus; }
    100% { top: 	    @topEnd; }
}
@keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}
@-webkit-keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}
@-ms-keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}
@-moz-keyframes animationTopBottomBounce {
    .animatedTopBottomBounce;
}

//start animationSepia -----------
@filterStart:			sepia(0.2);
@filterPlus:            sepia(1);
@filterEnd:			    sepia(0);

.animatedSepia {
    0% { filter:		@filterStart; }
    40% { filter:       @filterPlus; }
    100% { filter: 	    @filterEnd; }
}
@keyframes animationSepia {
    .animatedSepia;
}
@-webkit-keyframes animationSepia {
    .animatedSepia;
}
@-ms-keyframes animationSepia {
    .animatedSepia;
}
@-moz-keyframes animationSepia {
    .animatedSepia;
}

// animations Time Line ----

@timeAnimation_1:           0.6s;
@delayAnimation_1:          0s;
@timeAnimation_sepia:       2.2s;
@delayAnimation_sepia:       .8s;



// animations Time Line ----
/* ==========================================================================
User Styles
========================================================================== */

#total-wrapper {
    background-color: @colorBgOut;
    font-family: 'Montserrat', sans-serif;
}
.site-wrapper {
    margin: 0 auto;
    max-width: (@max-width-site - (@padding-container * 2));
}
.site-wrapper-inner {
    color: @color3;
}
.container-section {
    padding-bottom: @padding-container;
}
.bg-color-1 {
    background-color: @color1;
}
.bg-color-2 {
    background-color: @color2;
}
.bg-color-3 {
    background-color: @color3;
}
.cover {
    padding: 0;
}
.cover-heading {
    margin: 0;
}
.title-general{
    font-family:            'Bebas Neue', sans-serif;
}
.key-word {
    padding:                0px 5px;
    display:                inline-flex; //to avoid missalingment with the rest of the text
    position:               relative;
    overflow:               hidden;
    z-index:                1;
    transition:             all .3s ease .1s; //i change this with JS to give a cascade effect
    &::before {
        .absoluteTopLeft(0, -110%);
        .size(105%, 100%);
        content:            '';
        //background-color:   @color3;
        //transition: left .4s ease;
        transition:         inherit; //how is not in DOM I manage this way to address it
        z-index:            -1;
    }
    &.animated {
        //color:          @color2;
        &::before {
            left:           0;
        }
    }//animated
}//key-word

.key-word-color1 {
    &::before {
        background-color:   @color3;
    }
    &.animated {
    color:                  @color2;
    }
}//key-word-color

.key-word-color2 {
    &::before {
        background-color:   @color2;
    }
    color:                  @color3;
    // &.animated {
    // color:                  @color2;
    // }
}//key-word-color2

.second_title { 
    font-size:              90px;
    line-height:            90px;
    padding-bottom:         (@padding-container/2);
}
.text-regular {
    font-size:              25px;
    line-height:            32px;
    margin-bottom:          (@padding-container/2);
}

.welcome-section {
    height:                 80vh;
    max-height:             592px;
    padding:                0 @padding-container;
    background:             url('../img/lache_victoria.png') no-repeat transparent center top;
    background-size:        cover;
    filter:		            @filterStart;
    .animationSimple(animationSepia forwards 1 @timeAnimation_sepia ease-in-out @delayAnimation_sepia);
    .title {
        font-size:          125px;
        line-height:        93px;
        color:              @colorBgImgWelcome;
        transform:          scale(1, 1.6);
        width:              60%;
        position:           absolute;
        top:                @topStart;
        opacity:            0;
        transition:         opacity .5s ease .2s, color .8s ease .8s;
       
    } //title
    &.animated .title{
        opacity:        .7;
        color:          @color2;
        .animationSimple(animationTopBottomBounce forwards 1 @timeAnimation_1 ease-in-out @delayAnimation_1);
    }//animated welcome
    
}//welcome-section


.section_introduction {
    padding:                    @padding-container @padding-container 0 @padding-container;
}

#microsites {
    position:                   relative;
    overflow:                   hidden;
    background-color:           @color4;
}

.title-works-container {
    display:                    inline-block;
    position:                   relative;
}

.title-works {
    display:                    block;
    position:                   absolute;
    top:                        0;
    left:                       0;
    bottom:                     0;
    width:                      100%; /* line-height of .wrapper div:first-child span */
    overflow:                   hidden;
    white-space:                nowrap;
    h2 {
        transform:rotate(-90deg) translate(-50%, 50%);
        .absoluteBottomLeft(-260px, -18px);
        position:                   absolute;
        left:                       -18px;
        font-size:                  84px;
        width:                      100%;
        height:                     100%;
        text-align:                 center;
        line-height:                52%;
        color:                      @color2;
    }
} //title-works
.microsite-list-element {
    position:                       relative;
        &:not(:last-child) { 
            border-bottom:          2px solid @color2;
        }
}
.text-container-work {
    padding:                        10px 30px 0 20px;

}
.description-work {
    line-height:                    124%;
    margin-bottom:                  9px;
}

.title-work {
    font-size:                      30px;
    //transition:                     font-size .4s ease, line-height .3s ease;
}

.cta-general {
    text-decoration:                none;
    font-weight:                    500;
    transition:                     color .4s ease;
    .border-radius (@cta-border-radious);
    //.size(145px, auto);
    height: auto;
    padding:                        10px;
    &::after{
        content:                ' ';
        .border-radiuses (@cta-border-radious, @cta-border-radious, 0, 0);
        .absoluteBottomRight(0,0);
        .size(20%,100%);
        background-image:           url('../img/arrow-right.svg');
        background-position:        center;
        background-repeat:          no-repeat;
        transition: width           .3s ease;
    }//after
    &:hover  {
        color:                      @color2;
        &::after{
            width:                  15%;
        }
    }//hover
} //cta-general

.cta-microsites {
    width:                          145px;
    @variable-color:                @color1;
    color:                          @variable-color;
    .absoluteBottomRight(17px, 60px);
    background-color:               spin(@variable-color, 180);
    &::after{
        background-color:           lighten(spin(@variable-color, 180), 10%);
    }//after
} //cta-microsites


.img-work-container{
    position:                       relative;
    display:                        block;
    cursor:                         pointer;
}

.img-work {
    display:                        block;
    width:                          100%;
}
.list-key-word {
    .key-word {
        padding-top:                3px;
        padding-bottom:             3px;
    }
} //list-key-word

.list-key-word-awards {
    margin-top:                     6px;
}
.microsites {
    .title-works {
        h2 {
            letter-spacing:         46px;
            bottom:                 -262px;
        } //h2
    }//title-works
    .list-key-word-element {
        position:                       relative;
        display:                        inline-block;
    }//list-keyword-element
}//microsites
#banners {
    @variable-color:                @color4;
    position:                       relative;
    overflow:                       hidden;
    //background-color:               @color5;
    background-color:               spin(@variable-color, -17);
}//#Banners

@paddingBanners:                    (@padding-container/4);
.banners {

    .img-work-container {
        .size(320px,480px);
    }
    .text-container-work {
        padding-left:               0;
    }
    .big-banner {
        .size(970px,250px);
    }
    .title-works h2 {
        bottom:                     -407px;
        letter-spacing:             128px;
    }
    .list-key-word-technology {
        .absoluteTopRight(@paddingBanners,0);
        .size(200px, 50%);
    } //list-key-word-technology
    .list-key-word-element {
        margin-bottom:              3px;

    }
} //banners
.banners-list-container {
    position:                       relative;
    overflow:                       hidden;
}
.big-banner-text-container {
        position:                   relative;
    .list-key-word-technology{
        //position:                   absolute;
        //top:                        15px;
        right:                      85px;
        width:                      40%;
        text-align:                 right;
        
        
        .list-key-word-element {
            display:                inline-block;
        }
    }
}

.banners-list-element {
    position:                       relative;
    overflow:                       hidden;
    padding:                        @paddingBanners 0;
}
.playButton {
    .size(100%,100%);
    .absoluteTopLeft(0,0);
    background-position:                center center;
    background-repeat:                  no-repeat;
    background-size:                    100px 100px;
    background-image:                   url('../img/play-button.svg');
    background-color:                   transparent;
    transition:                         transform .3s ease .1s;
    transform:                          scale(0);
    z-index:                            40;
}
.animated {
    .playButton {
        transform:                      scale(1);
        &:hover {
            transform:                      scale(1.2);
        }
    }
}//animated

.cta-banner {
    // .absoluteTopRight(50%, 60px);
    display: none;
    // width:                          109px;
    // @variable-color:                @color5;
    // color:                          @variable-color;
    // background-color:               spin(@variable-color, -17);
    // &::after{
    //     background-color:           lighten(spin(@variable-color, -17), 10%);
    // }//after
} //cta-microsites

.overlay {
    .size(100%,100%);
    .absoluteTopLeft(0,0);
    display: none;
    opacity:                            0;
    transition:                         opacity .3s ease;
    z-index:                            50;
    &.visible{
        display:                        block;
        opacity:                        1;
    }
}//overlay

.backGround {
    .size(100%,100%);
    .absoluteTopLeft(0,0);
    background-color:                   @colorBgOut;
    background-position:                60px 60px;
    background-repeat:                  no-repeat;
    background-size:                    50px 50px;
    background-image:                   url('../img/cross-close.svg');
    opacity:                            .9;
    z-index:                            60;
    cursor:                             pointer;
}
.htmlContainer {
    z-index:                            80;
    .absoluteTopLeft(50%,50%);
    transform: translate(-50%, -50%);
}