/*****anieto2k*******/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
center,
u,
b,
i {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
input,
textarea {
  margin: 0;
  padding: 0;
}
.anti-alias {
  font-smooth: always;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
.comunArrows {
  width: 0;
  height: 0;
  position: relative;
  line-height: 0px;
}
.animatedLeftToRightOpacity 0% {
  left: -190px;
}
.animatedLeftToRightOpacity 10% {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity = 10);
  opacity: 0.1;
}
.animatedLeftToRightOpacity 80% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
  left: 63px;
}
.animatedLeftToRightOpacity 100% {
  left: 57px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
@keyframes animationLeftToRightOpacity {
  0% {
    left: -190px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 63px;
  }
  100% {
    left: 57px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-webkit-keyframes animationLeftToRightOpacity {
  0% {
    left: -190px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 63px;
  }
  100% {
    left: 57px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-ms-keyframes animationLeftToRightOpacity {
  0% {
    left: -190px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 63px;
  }
  100% {
    left: 57px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-moz-keyframes animationLeftToRightOpacity {
  0% {
    left: -190px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 63px;
  }
  100% {
    left: 57px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
.animatedLeftToRightOpacityCta 0% {
  left: -100px;
}
.animatedLeftToRightOpacityCta 10% {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity = 10);
  opacity: 0.1;
}
.animatedLeftToRightOpacityCta 80% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
  left: 18px;
}
.animatedLeftToRightOpacityCta 100% {
  left: 9px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
@keyframes animationLeftToRightOpacityCta {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 18px;
  }
  100% {
    left: 9px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-webkit-keyframes animationLeftToRightOpacityCta {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 18px;
  }
  100% {
    left: 9px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-ms-keyframes animationLeftToRightOpacityCta {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 18px;
  }
  100% {
    left: 9px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-moz-keyframes animationLeftToRightOpacityCta {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 18px;
  }
  100% {
    left: 9px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
.animatedOut 0% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
.animatedOut 70% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
.animatedOut 80% {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity = 60);
  opacity: 0.6;
}
.animatedOut 90% {
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity = 30);
  opacity: 0.3;
}
.animatedOut 100% {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
}
@keyframes animationOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  70% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  80% {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity = 60);
    opacity: 0.6;
  }
  90% {
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity = 30);
    opacity: 0.3;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
}
@-webkit-keyframes animationOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  70% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  80% {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity = 60);
    opacity: 0.6;
  }
  90% {
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity = 30);
    opacity: 0.3;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
}
@-ms-keyframes animationOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  70% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  80% {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity = 60);
    opacity: 0.6;
  }
  90% {
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity = 30);
    opacity: 0.3;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
}
@-moz-keyframes animationOut {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  70% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  80% {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    filter: alpha(opacity = 60);
    opacity: 0.6;
  }
  90% {
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity = 30);
    opacity: 0.3;
  }
  100% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
}
.animatedIn from {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
}
.animatedIn to {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
@keyframes animationIn {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-webkit-keyframes animationIn {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-ms-keyframes animationIn {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-moz-keyframes animationIn {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
  to {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
.animatedLegal 0% {
  left: 300px;
}
.animatedLegal 100% {
  left: -550px;
}
@keyframes animationLegal {
  0% {
    left: 300px;
  }
  100% {
    left: -550px;
  }
}
@-webkit-keyframes animationLegal {
  0% {
    left: 300px;
  }
  100% {
    left: -550px;
  }
}
@-ms-keyframes animationLegal {
  0% {
    left: 300px;
  }
  100% {
    left: -550px;
  }
}
@-moz-keyframes animationLegal {
  0% {
    left: 300px;
  }
  100% {
    left: -550px;
  }
}
.animatedBackgroundVertica from {
  background-position: center -40px;
}
.animatedBackgroundVertica to {
  background-position: center bottom;
}
@keyframes animationBackgroundVertica {
  from {
    background-position: center -40px;
  }
  to {
    background-position: center bottom;
  }
}
@-webkit-keyframes animationBackgroundVertica {
  from {
    background-position: center -40px;
  }
  to {
    background-position: center bottom;
  }
}
@-ms-keyframes animationBackgroundVertica {
  from {
    background-position: center -40px;
  }
  to {
    background-position: center bottom;
  }
}
@-moz-keyframes animationBackgroundVertica {
  from {
    background-position: center -40px;
  }
  to {
    background-position: center bottom;
  }
}
.animatedLeftToRightOpacityColor1 0% {
  left: -100px;
}
.animatedLeftToRightOpacityColor1 10% {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity = 10);
  opacity: 0.1;
}
.animatedLeftToRightOpacityColor1 80% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
  left: 93px;
}
.animatedLeftToRightOpacityColor1 100% {
  left: 90px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
@keyframes animationLeftToRightOpacityColor1 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 93px;
  }
  100% {
    left: 90px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-webkit-keyframes animationLeftToRightOpacityColor1 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 93px;
  }
  100% {
    left: 90px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-ms-keyframes animationLeftToRightOpacityColor1 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 93px;
  }
  100% {
    left: 90px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-moz-keyframes animationLeftToRightOpacityColor1 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 93px;
  }
  100% {
    left: 90px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
.animatedLeftToRightOpacityColor2 0% {
  left: -100px;
}
.animatedLeftToRightOpacityColor2 10% {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity = 10);
  opacity: 0.1;
}
.animatedLeftToRightOpacityColor2 80% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
  left: 143px;
}
.animatedLeftToRightOpacityColor2 100% {
  left: 140px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
@keyframes animationLeftToRightOpacityColor2 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 143px;
  }
  100% {
    left: 140px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-webkit-keyframes animationLeftToRightOpacityColor2 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 143px;
  }
  100% {
    left: 140px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-ms-keyframes animationLeftToRightOpacityColor2 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 143px;
  }
  100% {
    left: 140px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-moz-keyframes animationLeftToRightOpacityColor2 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 143px;
  }
  100% {
    left: 140px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
.animatedLeftToRightOpacityColor3 0% {
  left: -100px;
}
.animatedLeftToRightOpacityColor3 10% {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity = 10);
  opacity: 0.1;
}
.animatedLeftToRightOpacityColor3 80% {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
  left: 193px;
}
.animatedLeftToRightOpacityColor3 100% {
  left: 190px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
}
@keyframes animationLeftToRightOpacityColor3 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 193px;
  }
  100% {
    left: 190px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-webkit-keyframes animationLeftToRightOpacityColor3 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 193px;
  }
  100% {
    left: 190px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-ms-keyframes animationLeftToRightOpacityColor3 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 193px;
  }
  100% {
    left: 190px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
@-moz-keyframes animationLeftToRightOpacityColor3 {
  0% {
    left: -100px;
  }
  10% {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity = 10);
    opacity: 0.1;
  }
  80% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
    left: 193px;
  }
  100% {
    left: 190px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity = 100);
    opacity: 1;
  }
}
.animatedBottomToTop 0% {
  bottom: -6px;
}
.animatedBottomToTop 80% {
  bottom: 10px;
}
.animatedBottomToTop 100% {
  bottom: 9px;
}
@keyframes animationBottomToTop {
  0% {
    bottom: -6px;
  }
  80% {
    bottom: 10px;
  }
  100% {
    bottom: 9px;
  }
}
@-webkit-keyframes animationBottomToTop {
  0% {
    bottom: -6px;
  }
  80% {
    bottom: 10px;
  }
  100% {
    bottom: 9px;
  }
}
@-ms-keyframes animationBottomToTop {
  0% {
    bottom: -6px;
  }
  80% {
    bottom: 10px;
  }
  100% {
    bottom: 9px;
  }
}
@-moz-keyframes animationBottomToTop {
  0% {
    bottom: -6px;
  }
  80% {
    bottom: 10px;
  }
  100% {
    bottom: 9px;
  }
}
.animatedHome1 0% {
  top: 187px;
  left: 56px;
}
.animatedHome1 25% {
  top: 190px;
  left: 60px;
}
.animatedHome1 50% {
  top: 187px;
  left: 63px;
}
.animatedHome1 75% {
  top: 184px;
  left: 56px;
}
.animatedHome1 100% {
  top: 187px;
  left: 56px;
}
@keyframes animationHome1 {
  0% {
    top: 187px;
    left: 56px;
  }
  25% {
    top: 190px;
    left: 60px;
  }
  50% {
    top: 187px;
    left: 63px;
  }
  75% {
    top: 184px;
    left: 56px;
  }
  100% {
    top: 187px;
    left: 56px;
  }
}
@-webkit-keyframes animationHome1 {
  0% {
    top: 187px;
    left: 56px;
  }
  25% {
    top: 190px;
    left: 60px;
  }
  50% {
    top: 187px;
    left: 63px;
  }
  75% {
    top: 184px;
    left: 56px;
  }
  100% {
    top: 187px;
    left: 56px;
  }
}
@-ms-keyframes animationHome1 {
  0% {
    top: 187px;
    left: 56px;
  }
  25% {
    top: 190px;
    left: 60px;
  }
  50% {
    top: 187px;
    left: 63px;
  }
  75% {
    top: 184px;
    left: 56px;
  }
  100% {
    top: 187px;
    left: 56px;
  }
}
@-moz-keyframes animationHome1 {
  0% {
    top: 187px;
    left: 56px;
  }
  25% {
    top: 190px;
    left: 60px;
  }
  50% {
    top: 187px;
    left: 63px;
  }
  75% {
    top: 184px;
    left: 56px;
  }
  100% {
    top: 187px;
    left: 56px;
  }
}
body {
  background: #fff;
}
body {
  background: grey;
}
#contenedor {
  position: relative;
  width: 314px;
  height: 474px;
  border: 3px solid white;
  overflow: hidden;
}
.secuencia {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 40;
}
.backButton {
  position: relative;
  width: 100%;
  height: 51px;
  background: url('../img/goBack.png ') no-repeat transparent center;
  cursor: pointer;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
}
#homeSection {
  background: url('../img/bgVelvet.jpg') no-repeat transparent top left;
  z-index: 50;
}
.textoHome11 {
  position: absolute;
  top: 83px;
  left: 43px;
  display: block;
  width: 244px;
  height: 14px;
  background: url('../img/textoHome11.png') no-repeat transparent top left;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-animation: animationIn forwards 500ms ease-out 300ms 1;
  -moz-animation: animationIn forwards 500ms ease-out 300ms 1;
  -ms-animation: animationIn forwards 500ms ease-out 300ms 1;
  animation: animationIn forwards 500ms ease-out 300ms 1;
}
.textoHome12 {
  position: absolute;
  top: 102px;
  left: 43px;
  display: block;
  width: 240px;
  height: 12px;
  background: url('../img/textoHome12.png') no-repeat transparent;
  background-position: center -40px;
  -webkit-animation: animationBackgroundVertica forwards 700ms ease-out 1100ms 1;
  -moz-animation: animationBackgroundVertica forwards 700ms ease-out 1100ms 1;
  -ms-animation: animationBackgroundVertica forwards 700ms ease-out 1100ms 1;
  animation: animationBackgroundVertica forwards 700ms ease-out 1100ms 1;
}
.plus {
  position: relative;
  display: inline-block;
  height: 41px;
  width: 41px;
  background: url('../img/plus.png') no-repeat transparent top center;
}
.homeMenu {
  text-align: center;
  cursor: pointer;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
}
.homeMenu1 {
  position: absolute;
  top: 187px;
  left: 56px;
  display: block;
  width: 75px;
  height: 82px;
  background: url('../img/textoHomeMenu1.png') no-repeat transparent bottom center;
  -webkit-animation: animationIn forwards 200ms ease-out 1900ms 1, animationHome1 forwards 2800ms linear 4500ms infinite;
  -moz-animation: animationIn forwards 200ms ease-out 1900ms 1, animationHome1 forwards 2800ms linear 4500ms infinite;
  -ms-animation: animationIn forwards 200ms ease-out 1900ms 1, animationHome1 forwards 2800ms linear 4500ms infinite;
  animation: animationIn forwards 200ms ease-out 1900ms 1, animationHome1 forwards 2800ms linear 4500ms infinite;
}
.homeMenu2 {
  position: absolute;
  top: 212px;
  right: 49px;
  display: block;
  width: 75px;
  height: 62px;
  background: url('../img/textoHomeMenu2.png') no-repeat transparent bottom center;
  -webkit-animation: animationIn forwards 200ms ease-out 2400ms 1;
  -moz-animation: animationIn forwards 200ms ease-out 2400ms 1;
  -ms-animation: animationIn forwards 200ms ease-out 2400ms 1;
  animation: animationIn forwards 200ms ease-out 2400ms 1;
}
.homeMenu3 {
  position: absolute;
  bottom: 30px;
  right: 8px;
  display: block;
  width: 72px;
  height: 82px;
  background: url('../img/textoHomeMenu3.png') no-repeat transparent bottom center;
  -webkit-animation: animationIn forwards 200ms ease-out 2900ms 1;
  -moz-animation: animationIn forwards 200ms ease-out 2900ms 1;
  -ms-animation: animationIn forwards 200ms ease-out 2900ms 1;
  animation: animationIn forwards 200ms ease-out 2900ms 1;
}
.cta {
  position: absolute;
  top: 380px;
  left: -100px;
  display: block;
  width: 178px;
  height: 40px;
  background: url('../img/cta.png') no-repeat transparent center;
  cursor: pointer;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-animation: animationLeftToRightOpacityCta forwards 400ms linear 3700ms 1;
  -moz-animation: animationLeftToRightOpacityCta forwards 400ms linear 3700ms 1;
  -ms-animation: animationLeftToRightOpacityCta forwards 400ms linear 3700ms 1;
  animation: animationLeftToRightOpacityCta forwards 400ms linear 3700ms 1;
}
#pive {
  position: absolute;
  bottom: 2px;
  left: 5px;
  display: block;
  width: 31px;
  height: 26px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  background: url('../img/pive.png') no-repeat transparent top left;
  -webkit-animation: animationIn forwards 700ms ease-out 4700ms 1;
  -moz-animation: animationIn forwards 700ms ease-out 4700ms 1;
  -ms-animation: animationIn forwards 700ms ease-out 4700ms 1;
  animation: animationIn forwards 700ms ease-out 4700ms 1;
}
#legalContainer {
  overflow: hidden;
  width: 760px;
  height: 12px;
  line-height: 12px;
  position: absolute;
  bottom: 2px;
  left: 28px;
  display: block;
  z-index: 10;
}
#legalContainer p {
  width: 600px;
  font-size: 10px;
  font-family: 'Arial';
  color: white;
  position: absolute;
  top: 0;
  left: 300px;
  display: block;
  -webkit-animation: animationLegal forwards 5700ms linear 5400ms 1;
  -moz-animation: animationLegal forwards 5700ms linear 5400ms 1;
  -ms-animation: animationLegal forwards 5700ms linear 5400ms 1;
  animation: animationLegal forwards 5700ms linear 5400ms 1;
}
#motoresSection {
  background: url('../img/bgMotores1.jpg') no-repeat black top left;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
#motoresSection .backButton {
  top: 143px;
  z-index: 90;
}
#motoresSection.botonMotor0 #salpicaderoBrillo {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
}
#salpicaderoBrillo {
  width: 100%;
  height: 100%;
  background: url('../img/bgMotores2.jpg') no-repeat black top left;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  z-index: 10;
}
#listaBotones .botonMotor {
  background-color: transparent;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
#fullLinkSection {
  display: none;
  background: url('../img/bgFullLink.jpg') no-repeat transparent top left;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity = 100);
  opacity: 1;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
#fullLinkSection .backButton {
  top: 143px;
  z-index: 90;
  -webkit-animation: animationIn forwards 500ms ease-out 7600ms 1;
  -moz-animation: animationIn forwards 500ms ease-out 7600ms 1;
  -ms-animation: animationIn forwards 500ms ease-out 7600ms 1;
  animation: animationIn forwards 500ms ease-out 7600ms 1;
}
#fullLinkSection.boton1 #screen2 {
  background-image: url('../img/screenBoton1.jpg');
}
#fullLinkSection.boton2 #screen2 {
  background-image: url('../img/screenBoton2.jpg');
}
#fullLinkSection.boton3 #screen2 {
  background-image: url('../img/screenBoton3.jpg');
}
#fullLinkSection.boton4 #screen2 {
  background-image: url('../img/screen2.jpg');
}
#iphone {
  position: absolute;
  top: 168px;
  left: 122px;
  display: block;
  width: 76px;
  height: 204px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  background: url('../img/iphone.png') no-repeat transparent top left;
  z-index: 40;
  -webkit-animation: animationIn forwards 900ms ease-out 200ms 1, animationOut forwards 500ms ease-out 4400ms 1;
  -moz-animation: animationIn forwards 900ms ease-out 200ms 1, animationOut forwards 500ms ease-out 4400ms 1;
  -ms-animation: animationIn forwards 900ms ease-out 200ms 1, animationOut forwards 500ms ease-out 4400ms 1;
  animation: animationIn forwards 900ms ease-out 200ms 1, animationOut forwards 500ms ease-out 4400ms 1;
}
#cable {
  position: absolute;
  bottom: -6px;
  left: 138px;
  display: block;
  width: 44px;
  height: 120px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  background: url('../img/cable.png') no-repeat transparent top left;
  z-index: 30;
  -webkit-animation: animationIn forwards 600ms ease-out 1300ms 1, animationBottomToTop forwards 600ms ease-out 2100ms 1, animationOut forwards 500ms ease-out 4400ms 1;
  -moz-animation: animationIn forwards 600ms ease-out 1300ms 1, animationBottomToTop forwards 600ms ease-out 2100ms 1, animationOut forwards 500ms ease-out 4400ms 1;
  -ms-animation: animationIn forwards 600ms ease-out 1300ms 1, animationBottomToTop forwards 600ms ease-out 2100ms 1, animationOut forwards 500ms ease-out 4400ms 1;
  animation: animationIn forwards 600ms ease-out 1300ms 1, animationBottomToTop forwards 600ms ease-out 2100ms 1, animationOut forwards 500ms ease-out 4400ms 1;
}
#iphoneSeat {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  background: url('../img/iphoneSeat.png') no-repeat transparent top left;
  -webkit-animation: animationIn forwards 600ms ease-out 2900ms 1;
  -moz-animation: animationIn forwards 600ms ease-out 2900ms 1;
  -ms-animation: animationIn forwards 600ms ease-out 2900ms 1;
  animation: animationIn forwards 600ms ease-out 2900ms 1;
}
#screen {
  position: absolute;
  top: 35px;
  left: 57px;
  display: block;
  width: 217px;
  height: 163px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  background: url('../img/screen1.jpg') no-repeat transparent top left;
  z-index: 35;
  -webkit-animation: animationIn forwards 600ms linear 2900ms 1;
  -moz-animation: animationIn forwards 600ms linear 2900ms 1;
  -ms-animation: animationIn forwards 600ms linear 2900ms 1;
  animation: animationIn forwards 600ms linear 2900ms 1;
}
#screen2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  background: url('../img/screen2.jpg') no-repeat transparent top left;
  -webkit-animation: animationIn forwards 500ms ease-out 5100ms 1;
  -moz-animation: animationIn forwards 500ms ease-out 5100ms 1;
  -ms-animation: animationIn forwards 500ms ease-out 5100ms 1;
  animation: animationIn forwards 500ms ease-out 5100ms 1;
}
.textoFullLink11 {
  position: absolute;
  top: 204px;
  left: 0;
  display: block;
  width: 100%;
  height: 14px;
  background: url('../img/textoFullLink11.png') no-repeat transparent center top;
  z-index: 90;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-animation: animationIn forwards 500ms ease-out 5100ms 1;
  -moz-animation: animationIn forwards 500ms ease-out 5100ms 1;
  -ms-animation: animationIn forwards 500ms ease-out 5100ms 1;
  animation: animationIn forwards 500ms ease-out 5100ms 1;
}
.textoFullLink12 {
  position: absolute;
  top: 224px;
  left: 0;
  display: block;
  width: 100%;
  height: 9px;
  background: url('../img/textoFullLink12.png') no-repeat transparent;
  background-position: center -40px;
  z-index: 90;
  -webkit-animation: animationBackgroundVertica forwards 500ms ease-out 5800ms 1;
  -moz-animation: animationBackgroundVertica forwards 500ms ease-out 5800ms 1;
  -ms-animation: animationBackgroundVertica forwards 500ms ease-out 5800ms 1;
  animation: animationBackgroundVertica forwards 500ms ease-out 5800ms 1;
}
.buttonContainer {
  position: relative;
  width: 264px;
  margin: 0 auto;
  top: 197px;
  overflow: hidden;
  z-index: 50;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-animation: animationIn forwards 500ms ease-out 6700ms 1;
  -moz-animation: animationIn forwards 500ms ease-out 6700ms 1;
  -ms-animation: animationIn forwards 500ms ease-out 6700ms 1;
  animation: animationIn forwards 500ms ease-out 6700ms 1;
}
.selectButton {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
}
.selectButton .title {
  float: left;
  width: 100%;
  background-position: left 1px;
  background-repeat: no-repeat;
  margin-bottom: 9px;
  height: 22px;
}
.selectButton .information {
  background-position: left top;
  background-repeat: no-repeat;
  clear: both;
  height: 0;
  -webkit-transition: 0.6s all;
  -moz-transition: 0.6s all;
  -ms-transition: 0.6s all;
  -o-transition: 0.6s all;
}
.selectButton .trigger {
  position: relative;
  right: 2px;
  float: right;
  width: 42px;
  height: 22px;
  cursor: pointer;
  background-color: white;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  border-radius: 30%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 1px 0px 6px -1px;
  -moz-box-shadow: inset 1px 0px 6px -1px;
  box-shadow: inset 1px 0px 6px -1px;
}
.selectButton .circle {
  position: absolute;
  top: 0;
  left: -2px;
  display: block;
  height: 18px;
  width: 18px;
  border: 2px solid #e1e1e1;
  background-color: white;
  -webkit-box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.63);
  box-shadow: -1px 0px 11px -1px rgba(0, 0, 0, 0.63);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.8s left;
  -moz-transition: 0.8s left;
  -ms-transition: 0.8s left;
  -o-transition: 0.8s left;
}
.selectButton.active {
  margin-bottom: 0;
}
.selectButton.active .information {
  height: 52px;
}
.selectButton.active .trigger {
  background-color: #4dd865;
  border-color: #4dd865;
}
.selectButton.active .circle {
  left: 21px;
}
#boton1 .title {
  background-image: url('../img/buttonTitle1.png');
}
#boton1 .information {
  background-image: url('../img/buttonInformation1.png');
}
#boton2 .title {
  background-image: url('../img/buttonTitle2.png');
}
#boton2 .information {
  background-image: url('../img/buttonInformation2.png');
}
#boton3 .title {
  background-image: url('../img/buttonTitle3.png');
}
#boton3 .information {
  background-image: url('../img/buttonInformation3.png');
}
#boton4 .title {
  background-image: url('../img/buttonTitle4.png');
}
#boton4 .information {
  background-image: url('../img/buttonInformation4.png');
}
#colorPackSection {
  display: none;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
#colorPackSection.color1 {
  background: url('../img/bgVelvet.jpg') no-repeat transparent top left;
}
#colorPackSection.color1 .nameColor {
  background-image: url('../img/colorName1.png');
}
#colorPackSection.color2 {
  background: url('../img/bgBismuth.jpg') no-repeat transparent top left;
}
#colorPackSection.color2 .nameColor {
  background-image: url('../img/colorName2.png');
}
#colorPackSection.color3 {
  background: url('../img/bgRed.jpg') no-repeat transparent top left;
}
#colorPackSection.color3 .nameColor {
  background-image: url('../img/colorName3.png');
}
#colorPackSection .backButton {
  top: 201px;
  -webkit-animation: animationIn forwards 600ms ease-out 4500ms 1;
  -moz-animation: animationIn forwards 600ms ease-out 4500ms 1;
  -ms-animation: animationIn forwards 600ms ease-out 4500ms 1;
  animation: animationIn forwards 600ms ease-out 4500ms 1;
}
.textoColor11 {
  position: absolute;
  top: 266px;
  left: 0;
  display: block;
  width: 100%;
  height: 44px;
  background: url('../img/textoColor11.png') no-repeat transparent center;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-animation: animationIn forwards 700ms ease-out 200ms 1;
  -moz-animation: animationIn forwards 700ms ease-out 200ms 1;
  -ms-animation: animationIn forwards 700ms ease-out 200ms 1;
  animation: animationIn forwards 700ms ease-out 200ms 1;
}
.colorButton {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 2px;
  z-index: 20;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
}
.colorButton .insideColor {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 20;
}
.colorButton:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid transparent;
  background-color: transparent;
  z-index: 10;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
}
#color1 {
  position: absolute;
  bottom: 133px;
  left: -100px;
  display: block;
  -webkit-animation: animationLeftToRightOpacityColor1 forwards 600ms ease-out 2900ms 1;
  -moz-animation: animationLeftToRightOpacityColor1 forwards 600ms ease-out 2900ms 1;
  -ms-animation: animationLeftToRightOpacityColor1 forwards 600ms ease-out 2900ms 1;
  animation: animationLeftToRightOpacityColor1 forwards 600ms ease-out 2900ms 1;
}
#color1 .insideColor {
  background-color: #69494e;
}
#color1.active:after {
  border-color: #69494e;
}
#color2 {
  position: absolute;
  bottom: 133px;
  left: -100px;
  display: block;
  -webkit-animation: animationLeftToRightOpacityColor2 forwards 600ms ease-out 2100ms 1;
  -moz-animation: animationLeftToRightOpacityColor2 forwards 600ms ease-out 2100ms 1;
  -ms-animation: animationLeftToRightOpacityColor2 forwards 600ms ease-out 2100ms 1;
  animation: animationLeftToRightOpacityColor2 forwards 600ms ease-out 2100ms 1;
}
#color2 .insideColor {
  background-color: #b99d7f;
}
#color2:hover:after {
  border-color: #b99d7f;
}
#color3 {
  position: absolute;
  bottom: 133px;
  left: -100px;
  display: block;
  -webkit-animation: animationLeftToRightOpacityColor3 forwards 600ms ease-out 1300ms 1;
  -moz-animation: animationLeftToRightOpacityColor3 forwards 600ms ease-out 1300ms 1;
  -ms-animation: animationLeftToRightOpacityColor3 forwards 600ms ease-out 1300ms 1;
  animation: animationLeftToRightOpacityColor3 forwards 600ms ease-out 1300ms 1;
}
#color3 .insideColor {
  background-color: #d72717;
}
#color3:hover:after {
  border-color: #d72717;
}
.nameColor {
  position: absolute;
  top: 365px;
  left: 0;
  display: block;
  height: 21px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
  opacity: 0;
  -webkit-animation: animationIn forwards 600ms ease-out 3700ms 1;
  -moz-animation: animationIn forwards 600ms ease-out 3700ms 1;
  -ms-animation: animationIn forwards 600ms ease-out 3700ms 1;
  animation: animationIn forwards 600ms ease-out 3700ms 1;
}
.overAll {
  z-index: 100;
}
#logoSeat {
  width: 160px;
  height: 45px;
  background: url('../img/logo.png') no-repeat transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
#footer {
  width: 168px;
  height: 16px;
  background: url('../img/footer.png') no-repeat transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}
#close {
  width: 31px;
  height: 30px;
  background: url('../img/close.png') no-repeat transparent;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 7px;
  display: block;
}
#ad {
  position: relative;
  overflow: hidden;
  display: block;
  left: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 320px;
  height: 480px;
}
#ad .animado.animado {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
